<html>
	<body style="background: #6f7050;">
		<textarea id="text_in" placeholder="Text In" style="width: 50%; height: 25%;"></textarea>
		<br><br>
		<textarea id="text_out" value="text" placeholder="Notes Output" style="width: 50%; height: 25%;"></textarea>
	</body>
</html>
